<% include ../partials/header %>
<body>
  <% include ../partials/navbar %>
    <div class='container'>
      <div class='row'>
      <div class="col-md-4">
        <img src="<%=candidate.photo%>" width='210px' length'290px'><br/>
        <h3><%= candidate.name%></h3>
        <p><%= candidate.partyFull%></p>
        <p><a href="/candidates">Back to all candidates</a></p><br/>
      </div>
      <div class="col-md-8">
       <% if (articles.length > 0 ) { %>
        <table class="table">
        <h1> Articles</h1>
            <thead>
              <tr>
              <th>Headline</th>
              <th>Source</th>
              <th>View</th>
               <% if (session !== null ) { %>
              <th>Add to favorites</th>
              <%}%>
            </tr>
          </thead>
          <tbody>
            <%articles.forEach(function(a){ %>
            <tr>
            <td><%= a.headline.main%></td>
            <td><%= a.source%></td>
            <td><a href='<%= a.web_url%>' target="_blank">View Article</a></td>
              <% if (session !== null) { %>
              <td>
                <form method= "post" action="/users/<%=session%>/articles">
                  <button class="center" type ="submit">Favor article</button>
                  <input type="hidden" name="headline" value="<%= a.headline.main%>"/>
                  <input type="hidden" name="link" value="<%= a.web_url%>"/>
                  <input type="hidden" name="source" value="<%=a.source%>"/>
                </form>
                </td>
               <%}%>
            </tr>
            <%})%>
          </tbody>
        </table>
         <%} else { %>
         Sorry, there is no additional information on this candidate.
          <%}%>
</div>
</body>
</html>
